__pycache__/
*.py[cod]
*.root
*.pdf
*.png
*.swp
*.txt
*.DS_Store
*.csv
build/
*.snakemake/
.cache
.dotnet
.ipython
.Mathematica
.scm_gui
.ssh
.vscode-server
.bash_history
.bashrc
.cshrc
.profile
.viminfo
env_WCTE
.wget-hsts
*.h5
venv_scratch
*.err
*.out
*.slurm